textarea {
    background: #F7F9FC;
    border: 1px solid #EBEEF5;
    padding: 40px 0;
    height: 100px;
    border-radius: 10px;
    width: 100%;
}

    textarea:focus {
        outline: none;
    }

.text-input-edit {
    width: 100%;
    display: flex;
    justify-content: center;
}
