.rows-of-properties {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row-of-properties {
    display: flex;
    gap: 20px;
}

    .row-of-properties div {
        display: flex;
        height: 40px;
        align-items: center;
    }

        .row-of-properties div p {
            margin-right: 10px;
            margin-bottom: 0;
        }

        .row-of-properties div input {
            height: 100%;
            background: #F7F9FC;
            border-radius: 10px;
            outline: none;
            border: none;
            padding: 0 10px;
        }

            .row-of-properties div input[type=number] {
                width: 80px;
            }

            .row-of-properties div input[type=text] {
                width: 200px;
            }
