<template id="CurDisciplineShow">
            <p class="discipline_name">${DisciplineName}</p>
            <div class="answer_survey_questions">
            ${Questions}
            </div>
        </template>