<div class="centered_page_content_column" style="gap: 20px">
  <p class="error_big_text">@(ErrorText)</p>
  <a class="white_button" href="/">Вернуться на Главную</a>
</div>

@code {
  [Parameter] public string ErrorText { get; set; } = string.Empty;
}