@using IThubSAT.Data.Models

<div class="section">
  <div class="section_header">
    <div class="section_info">
      <p class="section_name">@SectionName</p>
      <p class="=section_desc">@SectionDescription</p>
    </div>

    @if (Questions != null) {
      <button class="collapse_button"><img src="icons/Collapse.svg"/></button>
    }
  </div>

  @if (Questions != null) {
    <div class="section_collapse">
      @foreach (var question in Questions) {
        <SurveyQuestion Question=question/>
      }
    </div>
  }
</div>


@code {
  [Parameter] public IEnumerable<Question>? Questions { get; set; }
  [Parameter] public string SectionName { get; set; } = string.Empty;
  [Parameter] public string SectionDescription { get; set; } = string.Empty;
}