@using IThubSAT.Components.Surveys
@using IThubSAT.Data.Models
@using IThubSAT.Data
@inject SurveyService SurveyService

<div class="survey_list_item">
  <div class="survey_info">
    <p class="survey_name"><a href="/surveys/@(Survey.Id)">@(Survey.Name)</a></p>
    <p class="survey_modified">
      <span>Последнее изменение:
      @if (Survey.ModifiedAt.Length > 0) {
        @Survey.ModifiedAt
      }
      else {
        @Survey.CreatedAt
      }
      </span>
    </p>
  </div>
  <div class="survey_actions">
    <button @onclick=@OpenPopUp><img src="icons/Pause.svg"/></button>
    <a href="/surveys/@(Survey.Id)/edit"><img src="icons/Edit.svg" /></a>
    <button><img src="icons/Menu.svg"/></button>
  </div>
</div>

<PopUp IsActive=@PopUpState Title="Остановить форму" Content="Остановить сбор ответов?" OnCloseButtonClick=ClosePopUp>
  <Buttons>
    <button @onclick=@ClosePopUp>Отменить</button>
    <button @onclick=@StopSurvey>Остановить</button>
  </Buttons>
</PopUp>

@code {
  [Parameter] public Survey Survey { get; set; } = null!;
  [Parameter] public EventCallback StopSurvey { get; set; }

  public bool PopUpState { get; set; } = false;

  public void OpenPopUp() {
    PopUpState = true;
  }

  public void ClosePopUp() {
    PopUpState = false;
  }
} 