@page "/"

<div class="white_background_content">
    <h1 class="title">Главная</h1>
    <p>Основные разделы приложения для создания опросов</p>
    <ul>
        <li>
            <a href="/surveys">Опросы</a>
        </li>
    </ul>
</div>