@inherits LayoutComponentBase
@using IThubSAT.Components

<PageTitle>IThubSAT</PageTitle>

<div class="page">
    <main>
        <div class="content">
          @Body
        </div>
    </main>

    <div style="display: none" id="notification-area">
      <div>${Error}</div>
    </div>

    <div style="display: none" class="${PopupStatus}" id="popup">
      ${Popup}
    </div>
</div>
