@inherits LayoutComponentBase
@using IThubSAT.Components

<PageTitle>IThubSAT</PageTitle>

<div class="page">
    <main>
        <div class="content">
          @Body
        </div>
    </main>

    <div class="popup-area">
        <PopUp></PopUp>
    </div>
</div>
