.preview-card {
    width: 280px;
    max-height: 400px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    padding: 10px 15px;
    box-sizing: content-box;
}

.preview-card-header {
    width: 100%;
    margin-bottom: 10px;
}

.preview-card-content {
    width: 100%;
    height: calc(100% - 35px);
    overflow-y: scroll;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.preview-card-item {
    width: 100%;
    background-color: #F7F9FC;
    border: 1px solid #EBEEF5;
    border-radius: 5px;
    padding: 7px 12px;
    display: flex;
    justify-content: space-between;
}

    .preview-card-item div:first-child {
        width: 85%;
    }

        .preview-card-item div:first-child div:first-child {
            font-size: 14px;
            font-weight: bold;
            height: 20px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .preview-card-item div:first-child div:last-child {
            font-size: 12px;
            height: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

    .preview-card-item div:last-child {
        font-size: 14px;
    }