.search-bar {
    background-color: #F7F9FC;
    border-radius: 10px;
    border: 1px solid #EBEEF5;
    padding-left: 10px;
    width: 300px;
    min-height: 35px;
}

    .search-bar:focus {
        outline: 1px solid #AB00EA;
    }