@using IThubSAT.Components
@using IThubSAT.Data.Models
@using IThubSAT.Data
@inject SurveyService SurveyService

<div class="survey-list-item">
    <div class="survey-info">
        <p class="survey-name"><a href="/surveys/@(Survey.Id)">@(Survey.Name)</a></p>
        <p class="survey-modified">
            <span>Последнее изменение:
                @if (Survey.ModifiedAt.Length > 0) {
                    @Survey.ModifiedAt
                }
                else {
                    @Survey.CreatedAt
                }
            </span>
        </p>
    </div>
    <div class="survey-actions">
        @if (Survey.IsOpen) {
            <button ><img src="icons/Link.svg"/></button> // получить ссылку на опрос (открыть попап или показать тостер и скопировать автоматически)
            <button @onclick=@(()=>popUp.Show())><img src="icons/Pause.svg" /></button>
        }
        else {
            <button @onclick=@OpenPopUp><img src="icons/Export.svg"/></button>
        }
        <a href="/surveys/@(Survey.Id)/edit"><img src="icons/Edit.svg" /></a>
        <button><img src="icons/Menu.svg"/></button>
    </div>
</div>

@* сделать поп-ап контроллер *@
<PopUp IsActive=@PopUpState Title="Остановить опрос" Content="Остановить сбор ответов?" OnCloseButtonClick=ClosePopUp>
    <Buttons>
        <button @onclick=@ClosePopUp>Отменить</button>
        <button @onclick=@StopSurvey>Остановить</button>
    </Buttons>
</PopUp>

@code {
    [Parameter] public Survey Survey { get; set; } = null!;
    [Parameter] public EventCallback StopSurvey { get; set; }

    [Inject] public PopUp popUp { get; set; }
} 