@* до версии 2.0 оставляю *@

@* <div class="survey-navigation">
    <div class="@((_curStepNumber == -1) ? "active-item" : "")">Вводная часть</div>
    <div class="@((_curStepNumber > -1) ? "active-item" : "")">Основная часть</div>
    @if (_workloads.Count > 0) {
        @for (var i = 0; i < _workloads.Count; i++) {
            <div class="@((i == _curStepNumber) ? "active-item" : "")">@_workloads[i].Discipline.Name</div>
        }
    }
</div> *@