<!--TABSBAR-->
<template id="TabsBar">
    <div class="tabs_bar">
    ${Tabs}
    <template id="Tab">
        <p class="${Active}" onclick="${SetTab}">${TabName}</p>
    </template>
    </div>
</template>
<!--TABSBAR-->