@using IThubSAT.Data

<div class="tabs_bar">
    @foreach (var tab in Tabs) {
        <p class="@((_chosenTab == tab) ? "tab_is_active" : "")" @onclick=@(()=>DoOnTabChosen(tab))>@(TabNames[tab])</p>
    } 
</div>

@code {
    [Parameter] public EventCallback<Tab> OnTabChosen { get; set; }
    [Parameter] public List<Tab> Tabs { get; set; } = new();
    private Tab _chosenTab;

    Dictionary<Tab, string> TabNames = new() {
        {Tab.Active, "Активные"},
        {Tab.Stopped, "Остановленные"},
        {Tab.Drafts, "Черновики"},
        {Tab.All, "Все"},
        {Tab.Questions, "Вопросы"},
        {Tab.Workload, "Нагрузка"},
        {Tab.Settings, "Настройки"}
    };
    protected override void OnInitialized()
    {
        _chosenTab = Tabs[0];
        base.OnInitialized();
    }
    private void DoOnTabChosen(Tab tab) {
        _chosenTab = tab;
        OnTabChosen.InvokeAsync(tab);
        @* StateHasChanged(); *@
    }
}