@inject NavigationManager Navigation

<div class="top-bar">
    <div class="page-name">
      @if (HrefBack != string.Empty) {      
        <a href="@(HrefBack)"><img src="icons/ArrowBack.svg"/></a>
      }
      <p>@PageName</p>
    </div>
    <div class="user-info-block">
      <div class="user-info">
        <p class="user-name">
          @(Username)
        </p>
        <p class="user-role">Админ</p>
      </div>
      <div class="user-avatar">
        U
      </div>
    </div>
</div>

@code {
  [Parameter] public string PageName { get; set; } = string.Empty;
  [Parameter] public string Username { get; set; } = string.Empty;
  [Parameter] public string HrefBack { get; set; } = string.Empty;
  // при переходе на новую страницу нужно перерендеривать топбар
}