@inject NavigationManager Navigation

<div class="topbar">
    <div class="page_name">
      @if (HrefBack != string.Empty) {      
        <a href="@(HrefBack)"><img src="icons/ArrowBack.svg"/></a>
      }
      <p>@PageName</p>
    </div>
    <div class="user_info_block">
      <div class="user_info">
        <p class="user_name">
          @(Username)
        </p>
        <p class="user_role">Админ</p>
      </div>
      <div class="user_avatar">
        U
      </div>
    </div>
</div>

@code {
  [Parameter] public string PageName { get; set; } = string.Empty;
  [Parameter] public string Username { get; set; } = string.Empty;
  [Parameter] public string HrefBack { get; set; } = string.Empty;
  // при переходе на новую страницу нужно перерендеривать топбар
}