    <!--SIGNIN-->
    <template id="SignIn">
      <div class="sign-in-wrapper">
        <div class="sign-in-content">
          <h1 class="title">Sign in</h1>
          <form onsubmit="${SignIn}">
            <div class="fields">
              <label class="label">Username</label>
              <div class="control">
                <input class="text-input short-text-input" bind="${Username}" />
              </div>
            </div>
            <div class="fields">
              <label class="label">Password</label>
              <div class="control">
                <input class="text-input short-text-input" type="password" bind="${Password}" />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input type="submit" value="Sign in" class="button" />
              </div>
            </div>
            ${ErrorNotification}
          </form>
        </div>
      </div>
    </template>
    <!--SIGNIN-->