<!--SURVEYANSWERERROR-->
    <template id="SurveyAsnwerError">
      <div class="centered_page_content_column" style="gap: 20px">
        <p>${ErrorText}</p>
        <a href="/">Вернуться на Главную</a>
      </div>
    </template>
<!--SURVEYALREADYANSWERED-->